$white: #f0ffff;
$form: rgba(90%, 90%, 98%, 0.8);
$button: rgba(0%, 40%, 80%, 1);

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#task-frontend {
  border: 2px solid gray;
  padding: 1em;
  background: rgba(40%, 40%, 100%, 0.7);
}
.form {
  background: $form;
  font-family: "Open Sans", sans-serif;
  width: 450px;
  // height: 500px;
  border: 3px solid rgba(60, 60, 243, 0.6);
  padding: 35px;
  margin-top: 40px;
  border-radius: 35px;
  box-shadow: inset 2px 2px 5px rgba(87, 121, 165, 0.5),
    1px 1px 5px rgba(255, 255, 255, 1);
  &__title {
    color: $button;
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  &__info {
    display: grid;
    grid-row-gap: 20px;
  }

  &__info input {
    height: 40px;
    width: 400px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    padding-left: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.82);
  }
  &__info input:focus {
    border: 3px solid #0077e6;
    transform: translateX(15px);
    width: 385px;
  }

  &__section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
  }
  &__elem {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input {
    margin-right: 7px;
  }
}
.subtitle {
  color: $button;
  font-size: 18px;
  margin-top: 25px;
}
.fom {
  &__button {
    color: $white;
    background: $button;
    margin: 0 auto;
    text-align: center;
    width: 155px;
    display: inline-block;
    border: none;
    border-radius: 35px;
    font-size: 22px;
    line-height: 25px;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 50px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.4s ease-in;
  }
  &__button:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #6698e2;
    transition: all 0.3s ease-in;
  }
}
fieldset {
  display: grid;
  grid-row-gap: 20px;
}
